<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bem Vindo(a)</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list lines="none">
      <ion-item *ngFor="let itemSuperior of itensMenuSuperior" href="#">
        <ion-label>
          <ion-icon [name]="itemSuperior.icon"></ion-icon>
          {{ itemSuperior.texto }}
        </ion-label>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item *ngFor="let itemInferior of itensMenuInferior" href="#">
        <ion-label>
          <ion-icon [name]="itemInferior.icon"></ion-icon>
          {{ itemInferior.texto }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-thumbnail>
         <img alt="Mercado Livre" src="/assets/Icons/mercadolivre.png">
        </ion-thumbnail>
      </ion-buttons> 
      <ion-searchbar color="light" placeholder="Buscar" ></ion-searchbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
        <ion-button>
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>

      </ion-buttons>

      

      <ion-buttons slot="end">

        <ion-button>
        
        </ion-button>

      </ion-buttons>

      <img  src="assets/banners/meli.png" >
    
    </ion-toolbar>
    
      
  
  </ion-header>

  <ion-content class="ion-padding" [fullscreen]="true" color="light">
    <section id="cep">
      <ion-list lines="none">
        <ion-item href="#" detail="true">
          <ion-icon name="location-outline"></ion-icon>
        informe o seu CEP
        </ion-item>
      </ion-list>
    </section>
 


    <section id="banners">
      <swiper-container loop="true">
        <swiper-slide><img src="/assets/banners/banner-1.jpg" alt="banner-1"></swiper-slide>
        <swiper-slide><img src="/assets/banners/banner-2.jpg" alt="banner-2"></swiper-slide>
        <swiper-slide><img src="/assets/banners/banner-3.png" alt="banner-3"></swiper-slide>
        <swiper-slide><img src="/assets/banners/banner-4.jpg" alt="banner-4"></swiper-slide>
      </swiper-container>
    </section>

   
 
    <section id="promocoes">
      <swiper-container loop="true">
        <swiper-slide>
          <ion-list>
            <ion-item *ngFor="let slideProduto of slideProduto1">
              <ion-card>
                <img [alt]="slideProduto.nome" [src]="slideProduto.imagem" width="335px">
                
                <ion-card-header>
                  <div>
                    <ion-badge>
                      OFERTA DO DIA
                    </ion-badge>
                  </div>
              <ion-card-title>{{ slideProduto.nome }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{ slideProduto.descricao }}</p>
              <div>
                <s>R$ 1.499 </s>
              </div>
                1.099<span><sup>9%OFF</sup></span>
              <div>
                <div> 
                 
                </div>
  
               </div>
               <ion-text color="success" >
                Frete gratis<ion-icon name="flash-outline"></ion-icon>  
              </ion-text>
            </ion-card-content>
              </ion-card>
            </ion-item>
          </ion-list>
        </swiper-slide>
        <swiper-slide><ion-list>
          <ion-item *ngFor="let slideProdutos of slideProduto2">
            <ion-card>
              <img [alt]="slideProdutos.nome" [src]="slideProdutos.imagem">
              <ion-card-header>
                <div>
                  <ion-badge>
                    OFERTA DO DIA
                  </ion-badge>
                </div>
            <ion-card-title>{{ slideProdutos.nome }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ slideProdutos.descricao }}</p>
            <div>
              <s>R$ 699 </s>
            </div>
            <div>
              R$ 459<span> <sup>19%OFF</sup></span>
            </div>

            <ion-text color="success" >
              Frete gratis<ion-icon name="flash-outline"></ion-icon>  
            </ion-text>
            
          </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </swiper-slide>
      <swiper-slide><ion-list>
        <ion-item *ngFor="let slideProdutos of slideProduto3">
          <ion-card>
            <ion-item [routerLink]="['/produto']" >
            <img [alt]="slideProdutos.nome" [src]="slideProdutos.imagem">
          </ion-item>
            <ion-card-header>
              <div>
                <ion-badge>
                  OFERTA DO DIA
                </ion-badge>
              </div>
          <ion-card-title>{{ slideProdutos.nome }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ slideProdutos.descricao }}</p>
          <div>
            <s>R$ 867 </s>
          </div>
          <div>
            R$ 579 <span> <sup>13%OFF</sup></span>
          </div>
          <div>
            <ion-text color="success" >
              Frete gratis<ion-icon name="flash-outline"></ion-icon>  
            </ion-text>
             </div>
          
        </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </swiper-slide>
    <swiper-slide><ion-list>
      <ion-item *ngFor="let slideProdutos of slideProduto4">
        <ion-card>
          <img [alt]="slideProdutos.nome" [src]="slideProdutos.imagem">
          <ion-card-header>
            <div>
              <ion-badge>
               OFERTA DO DIA
              </ion-badge>
            </div>
        <ion-card-title>{{ slideProdutos.nome }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ slideProdutos.descricao }}</p>
        <div>
          <s>R$ 1.899</s>
        </div>
        <div>
          R$ 1.599<span> <sup>12%OFF</sup></span>
        </div>
        <ion-text color="success" >
          Frete gratis<ion-icon name="flash-outline"></ion-icon>  
        </ion-text>
      </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </swiper-slide>
      </swiper-container>
    </section>

    

    <section id="produtos">
     
      <ion-list>
        <ion-item *ngFor="let produto of produtos">
          <ion-card>
            
          
            <img [alt]="produto.nome" [src]="produto.imagem" />
          
            <ion-card-header>
              <ion-card-title>{{ produto.nome }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>{{ produto.descricao }}</p>
            </ion-card-content>

            <ion-item>
              <p>R$ {{ produto.preco }}</p>
            
            </ion-item>

           
          
           

          </ion-card>
        </ion-item>
      </ion-list>
    </section>
    <section id="beneficio">
      <p> <b>Conte com os melhores benefícios no Mercado Livre</b> </p>
      <ion-list>
        <ion-item *ngFor="let beneficio of beneficio">
         
          <ion-thumbnail><img [alt]="beneficio.nome" [src]="beneficio.imagem"  ></ion-thumbnail>
          <ion-card-content>{{beneficio.descricao}}</ion-card-content>


        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item *ngFor="let beneficio1 of beneficio1">
         
          <ion-thumbnail><img [alt]="beneficio1.nome" [src]="beneficio1.imagem"/></ion-thumbnail>
          <ion-card-content>{{beneficio1.descricao}}</ion-card-content>


        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item *ngFor="let beneficio2 of beneficio2">
         
          <ion-thumbnail><img [alt]="beneficio2.nome" [src]="beneficio2.imagem"/></ion-thumbnail>
          <ion-card-content>{{beneficio2.descricao}}</ion-card-content>


        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item *ngFor="let beneficio3 of beneficio3">
         
          <ion-thumbnail><img [alt]="beneficio3.nome" [src]="beneficio3.imagem"/></ion-thumbnail>
          <ion-card-content>{{beneficio3.descricao}}</ion-card-content>


        </ion-item>
      </ion-list>
    </section>
  </ion-content>
</div>