<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bem Vindo(a)</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list lines="none">
      <ion-item *ngFor="let itemSuperior of itensMenuSuperior" href="#">
        <ion-label>
          <ion-icon [name]="itemSuperior.icon"></ion-icon>
          {{ itemSuperior.texto }}
        </ion-label>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item *ngFor="let itemInferior of itensMenuInferior" href="#">
        <ion-label>
          <ion-icon [name]="itemInferior.icon"></ion-icon>
          {{ itemInferior.texto }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-thumbnail>
          <img alt="Mercado Livre" src="/assets/Icons/mercadolivre.png">
        </ion-thumbnail>
      </ion-buttons>
      <ion-searchbar placeholder="Proucure aqui"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
        <ion-button>
          <ion-icon name="cart-outline"></ion-icon>
          
        </ion-button>
      </ion-buttons>
      <img src="/assets/banners/meli.png">
    </ion-toolbar>
  </ion-header>


<ion-content class ="ion-padding" [fullscreen]="true">
  <section id="cep">
    <ion-list lines="none">
      <ion-item href="#" detail="true">
        <ion-icon name="location-outline"></ion-icon>
        Informe o seu CEP
      </ion-item>
    </ion-list>
  </section>

 

  <ion-breadcrumbs>
    <ion-breadcrumb href="#periferico">
    
    Perifericos
    </ion-breadcrumb>
    <ion-breadcrumb href="#fone">
      
      Fones
    </ion-breadcrumb>
    <ion-breadcrumb href="#fonesgamer">
      
      Fones gamer
    </ion-breadcrumb>
  </ion-breadcrumbs>
  


  <section id="produto">
    <ion-list lines="none">
      <ion-item>
        <span><b>{{produto.status}} | {{produto.quantidadeVendas}}</b></span>
      
      </ion-item>

      <ion-item>
        {{produto.nome}}
      </ion-item>

      <ion-item>
        <ion-badge>Mais vendido </ion-badge>
       
      </ion-item>
      

     

      
        <swiper-container loop="true">
         
          <swiper-slide> 
            <ion-item>
            <ion-badge>
              1/5
            </ion-badge>
          </ion-item>
          <img  src="assets/home/fone.webp" width="300px" height="300px">
        </swiper-slide>



          <swiper-slide>
            <ion-item>
              <ion-badge>
                2/5
              </ion-badge>
            </ion-item>
            <img src="assets/produtos/fone2.webp"  width="300px" height="300px">
          </swiper-slide>



          <swiper-slide>
            <ion-item>
              <ion-badge>
                3/5
              </ion-badge>
            </ion-item>
            <img src="assets/produtos/fone3.webp" width="300px" height="300px">
          </swiper-slide>


          <swiper-slide>
            <ion-item>
              <ion-badge>
                4/5
              </ion-badge>
            </ion-item>
            <img src="assets/produtos/fone4.webp" width="300px" height="300px">
          </swiper-slide>

          
          <swiper-slide>
            <ion-item>
              <ion-badge>
                5/5
              </ion-badge>
            </ion-item>
            <img src="assets/produtos/fone5.webp"  width="300px" height="300px">
          </swiper-slide>
        </swiper-container>
     

      <ion-item>
        <span>
          <ion-icon name="git-branch-outline"></ion-icon>
          <ion-icon name="heart-outline"></ion-icon>
        </span>
        <span slot="end" >
          <ion-rating #rating>

            <ion-icon name="star"></ion-icon>

            <ion-icon name="star"></ion-icon>

            <ion-icon name="star"></ion-icon>

            <ion-icon name="star"></ion-icon>
           
            <ion-icon name="star-half"></ion-icon> 

          </ion-rating>
          (489)
        </span>
       <a href="#"></a>
      </ion-item>
      <ion-item>
        <ion-card>
          <ion-card-content>
            <div>
              <ion-badge>OFERTA DO DIA</ion-badge> 
            </div>    
            <div>
              De:<s>R$ 867</s>
            </div>
            <div>
              Por: R$ 579
            </div>
            <div>
              em  até <span>10x <b>R$ 57 </b><sup>90 </sup>sem juros </span>
            </div>
            <div><a href="#">Calcule prazo de entrega</a></div>

            
          </ion-card-content>
         

        </ion-card>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <ion-button expand="block">Compre aqui</ion-button>
          <ion-button expand="block">Adicione ao carrinho</ion-button>
        </ion-card-content>
      </ion-card>
      
<ion-item>
<ion-card>
 <ion-card-content>
<ion-grid>
<ion-row>
<ion-col>
 <ion-thumbnail>
<img src="/assets/Icons/truck.png" alt="Caminhão de entregas" />
 </ion-thumbnail>
 <p>Frete grátis <b><i>FULL.</i></b></p>
  <p>Saiba os prazos de entrega e as formas de envio.</p>
  <p><a href="#"> Calcular o prazo da entrega</a></p>
 </ion-col>
 <ion-col>
  <ion-thumbnail>
    <img src="/assets/Icons/cartao-icon.png" alt="Cartao de compra" />
     </ion-thumbnail>
  <p><b>Metódos de Pagamentos</b></p>
  <p>Pix</p>
  <p>Boleto</p>
  <p>Cartão debito ou credito</p>
 </ion-col>
 </ion-row>
</ion-grid>
 </ion-card-content>
  </ion-card>
  </ion-item>
   </ion-list>
  </section>
</ion-content>
